  <ion-modal-view ng-controller="loginFacebookCtrl">
    <ion-header-bar>
      <h1 class="title">Login</h1>
    </ion-header-bar>
    <ion-content>    
    <div class="list card">
	  <div class="item item-body">
	  	<br />
	    <center>
	    	<img width=100 src="img/icon.png">
	    </center>
	    <p>
	      De agora em diante você pode contar comigo para obter melhores listas de compras com um consumo consiente, vamos começar?
	    </p>
	    <button class="button button-block button-positive" ng-click="loginFacebook()">
			Login com facebook
		</button>
	  </div>
	</div>
    </ion-content>
  </ion-modal-view>